.card-header{
  background: #0B0C10;
  font-family: Bodoni Bk BT;
  font-style: normal;
  font-weight:500;
  /* identical to box height, or 118% */
  text-align: left;
  letter-spacing: 0.0025em;
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  /* 2nd */
  color: #FFDA8A;
}

.btn-primary {
  color:  #0B0C10;
  background-color:#FFDA8A;
  border-color:#FFDA8A;
}

.btn-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 4px 0;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle:hover{
  transition: 0.3s;
  opacity: 0.8;
}

.card-body{
  background: #FFDA8A;
  opacity: 0.9;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
  color: rgba(11, 12, 16, 0.6) ;
}
.form-check{
  color:#0B0C10;

}
.form-check-input{
  background-color:transparent;
  color:#0B0C10;
}
.form-check-input:checked {
  background-color:rgba(11, 12, 16, 0.6);
  border-color: #0B0C10;
  color:#0B0C10;
}

.table {
  border-color: transparent;
}

.bi-heart-fill {
  font-size: 15px;
  cursor: pointer;
  color: #0B0C10;
  opacity: 0.6;
}

.selected{
  background-color: #060609;
  color:#FFCB6D;
}

.selected:hover{
  color:#FFCB6D;
  opacity: 0.9;
}

.selected .bi-heart-fill {
  font-size: 15px;
  cursor: pointer;
  color:#FFCB6D ;
  opacity: 1;
}
.form-check-label{
  text-transform: capitalize;
  cursor: pointer;
}

.bi-heart {
  font-size: 15px;
  cursor: pointer;
  opacity: 0.5;
}

